* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0; /* Adjust as needed */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 20px; /* Increase the margin for more space */
}

.logo img {
    max-height: 110px; /* Keep the height and reduce the width */
    max-width: auto;
}

.logo-label {
    height: 25%;
    text-align: center;
}
.logo-label-name {
    font-size: 25px;
    font-weight: 600;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-items a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.menu-items > a:hover {
    background-color: #d3d3d3;
}
/* Dropdown Button */
.dropbtn {
    color: black;
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropbtn {
    background-color: #333;
}
/* Dropdown button on hover & focus */
.dropbtn:hover {
    background-color: #d3d3d3;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.dropdown-show {
    display: block;
    animation: dropdownShow 0.3s ease forwards;
}

/* Animation class for hiding dropdown content */
.dropdown-hide {
    animation: dropdownHide 0.3s ease forwards;
}
.erasmus {
    min-width: 600px;
}
.dropdown-content .dropdown-content {
    display: none;
    position: absolute; /* Position the nested dropdown to the right of its parent dropdown button */
    top: 0;
    left: 100%;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}
.dropdown-content.show {
    display: inline-block;
    opacity: 1; /* Change opacity to 1 when displayed */
}
.dropbtn:hover {
    background-color: #d3d3d3;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffffff;
}
.dropdown-icons {
    transform: rotate(90deg);
}
.hero {
    width: 100%;
    height: 50vh; /* Adjust height as needed */
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
}

.slider {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 3;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.212); /* Semi-transparent black */
    z-index: 5; /* Set a higher z-index to place it on top of the image */
}

/* .slider {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 10;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide::before {
    content: "";
    display: block;
    width: 100%;
    height: 50dvh;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.781);

    opacity: 1;
} */
/* .fade {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid yellow;
    background: linear-gradient(to right, #e66465, #9198e5);
    z-index: 100;
    opacity: 0.9;
    height: 50dvh;
} */

.slide.active {
    opacity: 1;
}

.navigator-wrapper {
    width: 100%;
    height: 40dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigator-container > a {
    width: calc(25% - 10px);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    transition: 0.3s ease;
}

.navigator-container > a:hover {
    background-color: #d3d3d3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
}
.icons {
    width: 50%;
}

.news-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.news-label-container {
    padding-bottom: 10px;
    min-width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.news-container {
    max-width: 60%;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, 1fr)
    ); /* Adjust 200px to your preference */
    gap: 30px; /* Adjust gap between items */
    /* Adjust maximum width */
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.all-news {
    padding: 10px 15px;
    background-color: #fff100;
    color: black;
    text-decoration: none;
}

.news {
    background-color: #f0f0f0;
    border-radius: 20px;
    height: 400px; /* Adjust height as needed */
}

.news-images {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hamburger-menu-btn {
    display: none;
    margin-right: 10px;
    padding: 5px;
    outline: none;
}
.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    transition: transform 0.3s ease;
}

.hamburger-menu-btn.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.hamburger-menu-btn.open .line:nth-child(2) {
    opacity: 0;
}
.hamburger-menu-btn.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
.footer {
    background-color: #fff100;
    padding: 20px 0;
    text-align: center;
}
.location-warpper {
    height: 50dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-container {
    margin: 30px 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.pages-intro {
    width: 100%;
    height: 20dvh;
    background-color: #fff100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages-intro-container {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 40dvh;
    padding: 30px 0;
}
.gallery-wrapper {
    width: 60%;
    min-height: 50dvh;
}
.image-container {
    width: 25%; /* 4 images in a row on desktop */
    height: 25dvh;
    box-sizing: border-box; /* Include padding and border in width */
    padding: 5px; /* Adjust as needed */
    float: left; /* Align images horizontally */
}

.image-container img {
    height: 100%;
    width: 100%; /* Ensure image fits container */
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}
.modal-header {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
.modal-header .modal-close {
    color: white;
}
.modal-content {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.modal-image {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.video-label {
    margin-bottom: 20px;
}
.video {
    padding: 15vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.video > object {
    width: 50%;
    height: 60dvh;
}

.erasmus-wrapper {
    margin: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.erasmus-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.erasmus-container > object {
    width: 90%;
    height: 80dvh;
}
.erasmus-container > a > button {
    background-color: #fff100;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 30px;
}
.documents-container {
    padding: 30px;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.documents-container > a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.year-container {
    width: 100%;

    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.news-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.default-image {
    width: 80%;
    height: 200px;
    opacity: 0.7;
}
.gallery-index {
    display: flex;
    gap: 1rem;
    max-width: 90rem;
}

.card {
    position: relative;
    left: 0;
    width: 9rem;
    border-radius: 1.2rem;
    height: 30rem;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
}

.card img {
    position: relative;
    height: 30rem;
    object-fit: cover;
}

.card:hover {
    flex: 5;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

/* polish images center */
.card:nth-child(1) img {
    left: -8rem;
}

.card:nth-child(2) img {
    left: -6rem;
}

.card:nth-child(3) img {
    left: -14rem;
}

.card:nth-child(4) img {
    left: -8rem;
}
.gallery > h1 {
    margin: 40px 0;
}
.document-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 1450px) {
    .menu {
        margin: 0 5%;
        margin-bottom: 2%;
    }
    .hero {
        height: 60dvh;
    }
    .navigator-container {
        width: 90%;
    }
    .navigator-container > a {
        width: 20%;

        padding: 30px 0;
    }
    .icons {
        width: 20%;
    }
    .news-label-container {
        width: 90%;
    }
    .news-container {
        max-width: 90%;
    }
    .news {
        width: 100%;
    }
    .location-container {
        width: 70%;
    }
    .location-warpper {
        height: 80dvh;
    }
    .pages-intro {
        height: 30dvh;
    }
    .pages-intro-container {
        width: 80%;
    }
    .gallery-wrapper {
        width: 80%;
    }
    .image-container {
        height: 30dvh;
    }
    .erasmus-container {
        width: 80%;
    }
    .erasmus-container > embed {
        width: 100%;
        height: 90dvh;
    }
    .map-wrapper {
        width: 50%;
        height: 50dvh;
    }
    .map-wrapper > iframe {
        width: 80%;
        height: 100%;
    }
}
@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
    .menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        min-height: 50px;
        margin: 10px 0;
    }
    .navigator-container > a {
        width: calc(50% - 10px); /* Two elements per row with some spacing */
        margin-bottom: 10px;
    }
    .news-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .news {
        width: 90%;
    }
    .logo {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-left: 10px;
    }
    .logo-container {
        max-width: 30%;
        margin: 0;
    }
    .logo-container > img {
        width: 100%;
    }
    .logo-label {
        min-width: 50%;
        margin-left: 10px;
        line-height: 0.9;
    }
    .logo-label > p {
        font-size: 12px;
    }
    .logo-label-name {
        font-size: 16px;
    }
    .menu-items {
        display: none;
        animation: closeMenu 0.3s forwards;
        /* Hide menu items by default on mobile */
        /* Add any specific styles for mobile */
    }
    .hamburger-menu-btn {
        display: block;
        border: none;
        background-color: #fff100;
        border-radius: 5px;
    }
    .menu-items.active {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: white;
        z-index: 10;
        padding: 10px 0;
        animation: expandMenu 0.3s forwards;
    }
    .menu-items.closing {
        animation: collapseMenu 0.5s forwards; /* Apply collapseMenu animation when closing */
    }
    .menu-items > a {
        background: none;
        padding: 0;
        margin-left: 20px;
        font-size: 14px;
    }
    .dropdown {
        width: 100%;
    }
    .dropbtn {
        padding: 0px;
        font-size: 14px;
        margin-left: 20px;
    }
    .dropdown-content {
        position: relative;
        min-width: 100%;
        min-height: 30px !important;
        box-shadow: none;
        animation: expandMenu 0.3s forwards;
    }
    .dropdown-content > a {
        background-color: #fff100;
        font-size: 14px;
        padding: 0;
        padding-left: 20px;
    }

    .dropdown-content .dropdown-content {
        position: relative;
        min-width: 100%;
        min-height: 30px !important;
        left: 0;
        box-shadow: none;
        animation: expandMenu 0.3s forwards;
    }
    .hero {
        z-index: 1;
        height: 30dvh;
    }
    .news-label-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .news-label-container > a {
        display: none;
    }
    .map-wrapper {
        width: 80dvw;
        height: 40dvh;
        margin-bottom: 10px;
    }
    .map-wrapper > iframe {
        width: 100%;
        height: 100%;
    }
    .location-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .location-info {
        text-align: center;
    }
    .pages-intro {
        height: 25dvh;
    }
    .pages-intro-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gallery {
        width: 100%;
    }
    .gallery-wrapper {
        width: 90%;
    }
    .image-container {
        width: 100%;
    }
    .modal-header {
        font-size: 30px;
    }
    .location-warpper {
        height: 60dvh;
    }
    .video {
        padding: 50px 0;
    }
    .video-label {
        font-size: 10px;
        margin-bottom: 15px;
    }
    .video > object {
        width: 90%;
        height: 30dvh;
    }
    .card {
        width: 5rem;
    }
    .erasmus-container {
        height: 50dvh;
    }
    .erasmus-container > object {
        display: none;
    }
    .documents-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }
    .year-container {
        text-align: center;
    }
    .documents-container > a {
        text-align: center;
    }
    .document-container {
        width: 90%;
    }
    .document-container > img {
        width: 100%;
        height: 30dvh;
    }
    .year-container {
        font-size: 13px;
    }
    .gallery {
        padding-top: 20px;
    }
    .gallery > h1 {
        margin: 20px 0;
    }
    .video-label {
        text-align: center;
    }
    .gallery-index {
        width: 90%;
        height: 60dvh;
    }
    .card {
        height: 60dvh;
    }
}
@keyframes expandMenu {
    0% {
        height: 0; /* Start height */
        opacity: 0;
    }
    10% {
        opacity: 0;
        height: 10vh;
    }
    100% {
        min-height: 2vh; /* End height */
        opacity: 1;
    }
}
@keyframes dropdownShow {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for hiding dropdown */
@keyframes dropdownHide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
