body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

.container {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
}

.menu {
    width: 15%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.menu > h1 {
    font-size: 50px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-container > a {
    color: white;
    text-decoration: none;
    margin-bottom: 7%;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
}

.content {
    flex: 1; /* Takes up remaining width */
    padding: 20px;
    overflow-y: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f3f3;
}

.testdiv {
    height: 120vh;
}
.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}
.logout > button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333333;
    color: white;
    border: none;
}
.add {
    position: absolute;
    top: 30px;
    left: 20px;
}

.add > a {
    padding: 10px 15px;
    background-color: lightblue;
    color: white;
    border: none;
    text-decoration: none;
}
.form-container {
    width: 80%;
    min-height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-container > form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
    min-height: 45dvh;
}

.form-container > form > input {
    width: 80%;
    padding: 5px 2px;
    text-align: center;
    outline: none;
}
.form-container > form > textarea {
    width: 80%;
    padding: 10px 5px;
    outline: none;
}
.form-control-file {
    text-align: center;
}

.news-list {
    width: 100%;
    min-height: 90dvh;
    margin-top: 10px;
}
.news-list > h2 {
    text-align: center;
}
.news-container {
    width: 100%;
    height: 80px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f5;
}
.label {
    margin-top: 20px;
}
.search {
    margin-top: 55px;
}
.buttons-wrapper {
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons-wrapper > a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #ff8c00;
    color: white;
}
.buttons-wrapper > form > button {
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #f4511e;
    color: white;
}
.gallery {
    width: 100%;
    min-height: 90dvh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 20px;
}
.image-container {
    width: 250px; /* Adjust the width of each image container */
    height: 200px;
    margin-bottom: 20px; /* Add margin between each image container */
    background-color: #f7f7f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.image-container > img {
    width: 80%;
    height: 150px;
}

@media screen and (max-width: 1400px) {
    .logo-container {
        width: 70%;
    }
    .logo-container > img {
        width: 100%;
    }
    .search {
        margin-top: 93px;
    }
}
